@import '_global';
@import '_vars';
@import '_fonts';


    // start header
.header{
    padding: 35px 0 55px;
    min-height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &__top{
        display: flex;
        position: relative;
        &-logo{
            height: 100%;
            a{
                display: flex;
                align-items: center;
                img{
                    display: block;
                }
                span{
                    padding-left: 10px;
                    display: block;
                    font-weight: 900;
                    font-size: 28px;
                    line-height: 28px;
                }
            }
        }
        &-phone{
            margin: 0 60px 0 auto;
            padding: 0 20px 0 37px;
            position: relative;
            font-weight: 300;
            height: 100%;
            img{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            .header__phone-title{
                font-size: 12px;
            }
            .header__phone-number{
                a{
                    text-transform: uppercase;
                    font-size: 21px;
                    font-weight: 500;
                }
            }
        }
        &-menu{
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}
.header__menu-btn{
    padding-top: 8px;
    text-align: center;
    width: 46px;
    cursor: pointer;
    span{
        display: block;
        width: 46px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 6px;
        transition: all .3s;
    }
    &.active{
        span:first-child{
            transform: rotate(45deg);
        }
        span:nth-child(2){
            display: none;
        }
        span:last-child{
            transform: rotate(-45deg);
        }
        span + span{
            margin-top: -9px;
            margin-bottom: 15px;
        }
    }
}
.header__menu-list{
    padding: 100px 0;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 30vw;
    background: linear-gradient(to bottom, rgba($aqua, .9), rgba(#000, .8));
    transition: all .5s;
    li{
        display: block;
        width: 100%;
        a{
            display: block;
            text-align: center;
            padding: 5px 0;
            font-size: 15px;
        }
    }
    &.showed{
        left: 0;
    }
}
.header__bottom{
    padding-top: 60px;
    text-align: center;
    &-title{
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 35px;
        span{
            display: block;
            font-size: 36px;
            line-height: 44px;
            font-weight: 400;
        }
    }
    &-text{
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 70px;
    }
    &-form{
        max-width: 954px;
        min-height: 135px;
        margin: 0 auto 20px;
        position: relative;
        img{
            position: absolute;
            top: 26px;
            left: 0;
        }
        form{
            max-width: 912px;
            margin: 0 auto;
            padding: 0 10px;
            display: flex;
            justify-content: space-around;
            input{
                display: block;
                max-width: 290px;
                width: 100%;
                border-radius: 25px;
                background-color: #fff;
                padding: 17px 25px;
                border: none;
                outline: none;
                opacity: 0.8;
                &::placeholder{
                    line-height: 24px;
                    font-weight: 300;
                    color: #606060;
                }
                &:focus {
                    opacity: 1;
                }
            }
            button{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                max-width: 234px;
                width: 100%;
                padding: 21px 27px;
                border-radius: 27px;
                border: none;
                cursor: pointer;
                background-color: $aqua;
                color: #fff;
                line-height: 20px;
                font-weight: 500; 
                opacity: .8;
                transition: all .2s linear;
                &:hover {
                    opacity: 1;
                    box-shadow: 0px 3px 10px 2px rgba($aqua, .5);
                }  
            }
        }
    }
    &-subtext{
        font-size: 14px;
        line-height: 28px;
        font-weight: 300;
    }
}
.header__scrolldown{
    position: absolute;
    z-index: 5;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

@media(max-width: 1015px){
    .header__bottom-form img{
        display: none;
    }
}
@media(max-width: 945px){
    .header__bottom{
        padding-top: 40px;
    }
    .header__bottom-title{
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 40px;
        span{
            font-size: 32px;
            line-height: 40px;
        }
    }
    .header__bottom-text{
        margin-bottom: 45px;
        font-size: 20px;
        line-height: 24px;
    }
    .header__bottom-form{
        form{
            flex-direction: column;
            align-items: center;
            padding: 0;
            padding-bottom: 72px;
            input{
                width: 100%;
                margin-bottom: 10px;
                padding: 14px 20px;
            }
            button{
                padding: 15px 20px;
            }
        }
    }
    .header__scrolldown{
        bottom: 10px;
    }
}
@media(max-width: 750px){
    .header__menu-list{
        width: 35vh;
    }
    .header__bottom-title{
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 30px;
        span{
            font-size: 22px;
            line-height: 30px;
        }
    }
    .header__bottom-text{
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 20px;
    }
    .header__bottom-subtext{
        line-height: 20px;
    }
}
@media(max-width: 625px){
    .header{
        padding-top: 10px;
    }
    .header__top-phone{
        display: none;
    }
    .header__menu-btn{
        position: fixed;
        z-index: 5;
        top: 10px;
        right: 15px;
        background: linear-gradient(to top, rgba($aqua, 0.4), rgba($aqua, 0.1));
        border-radius: 3px;
    }
    .header__menu-list{
        padding: 65px 0 100px;
    }
}
    // end header
    
    // start services
.services{
    padding: 60px 0 50px;
    &__title{
        margin-bottom: 60px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        &:hover{
            .services__content-btn{
                opacity: 0.8;
                box-shadow: 0px 3px 10px 2px rgba($aqua, .5);
            }
        }
        &-content{
            padding-top: 55px;
            max-width: 555px;
            width: 100%;
        }
        &-image{
            img{
                display: block;
            }
        }
    }
    &__item:nth-child(even){
        flex-direction: row-reverse;
    }
}
.services__item-content{
    .services__content-title{
        font-size: 28px;
        line-height: 28px;
        font-weight: 300;
        color: $aqua;
        margin-bottom: 10px;
    }
    .services__content-text{
        font-size: 18px;
        font-weight: 300;
        color: #464646;
        margin-bottom: 25px;
    }
    .services__content-btn{
        display: block;
        text-align: center;
        background-color: $aqua;
        max-width: 182px;
        width: 100%;
        border-radius: 25px;
        font-size: 14px;
        line-height: 16px;
        padding: 16px 25px;
        opacity: 0;
        transition: all 0.3s;
    }
}
@media(max-width: 1160px){
    .services__item{
        flex-wrap: wrap;
        justify-content: center;
        &-content{
            padding-top: 0;
            margin-bottom: 15px;
            text-align: center;
            .services__content-btn{
                opacity: 1;
                margin: 0 auto;
            }
        }
        &-image{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media(max-width: 750px){
    .services__title{
        margin-bottom: 40px;
    }
    .services__item-content .services__content-text{
        font-size: 16px;
    }
}
    // end services
    // start cost
.cost{
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 622px;
    &__title{
        color: #fff;
        margin-bottom: 45px;
        &::before{
            background-color: #fff;
        }
    }
    &__text{
        font-size: 26px;
        line-height: 38px;
        font-weight: 300;
        text-align: center;
        opacity: 0.8;
        margin-bottom: 35px;
    }
    &__inner{
        display: flex;
        &-variants{
            max-width: 654px;
            width: 100%;
            margin-right: 97px;
        }
        &-result{
            max-width: 323px;
            width: 100%;
            text-align: center;
        }
    }
}
.variants__area{
    padding: 20px;
    border: 1px solid rgba(#fff, 0.7);
    border-radius: 4px;
    margin-bottom: 9px;
    &-title{
        font-size: 20px;
        margin-bottom: 20px;
    }
}
.variants__package{
    padding: 20px;
    border: 1px solid rgba(#fff, 0.7);
    border-radius: 4px;
    &-title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    &-inner{
        display: flex;
        justify-content: space-between;
    }
}
.package__item{
    max-width: 193px;
    width: 100%;
    position: relative;
    &-btn{
        display: block;
        width: 100%;
        border: 1px solid rgba(#fff, 0.7);
        border-radius: 4px;
        text-align: center;
        padding: 10px;
        transition: all .3s;
        background-color: transparent;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        outline: none;
        cursor: pointer;
        transition: all .2s linear;
        &:hover{
            border: none;
            background-color: $aqua;
            border: 1px solid transparent;
            opacity: 0.8;
        }
        &.active{
            opacity: 1;
            background-color: $aqua;
            border: 1px solid transparent;
            box-shadow: 0px 3px 10px 2px rgba($aqua, .5);
        }
    }
    &-text{
        opacity: 0;
        position: absolute;
        left: 0;
        top: 60px;
        width: 444px;
        height: 110px;
        padding: 18px 30px;
        border-radius: 4px;
        background-color: #fff;
        color: #464646;
        font-size: 14px;
        text-align: center;
        transition: all .3s linear;
    }
    &-text.medium{
        left: 50%;
        transform: translateX(-50%);
    }
    &-text.full{
        left: auto;
        right: 0;
    }
    &::before {
        content: "";
        opacity: 0;
        position: absolute;
        top: 31px;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        transition: all .3s linear;
        border: 15px solid transparent; 
        border-bottom: 15px solid #fff;
    }
}
.package__item:hover{
    &::before{
        opacity: 1;
    }
    .package__item-text{
        opacity: 1;
    } 
}
.cost__inner-result{
    .result__item{
        &-text{
            margin-bottom: 7px;
        }
        &-number{
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 14px;
        }
    }
    .result__btn{
        margin: 25px auto 18px;
        display: block;
        max-width: 310px;
        width: 100%;
        font-size: 14px;
        line-height: 15px;
        background-color: $aqua;
        border-radius: 25px;
        padding: 18px 30px;
        opacity: .8;
        transition: all .2s linear;
        &:hover {
            opacity: 1;
            box-shadow: 0px 3px 10px 2px rgba($aqua, .5);
        }
    }
    .result__subtext{
        font-size: 14px;
        font-weight: 300;
    }
    .result__phone{
        font-size: 18px;
        font-weight: 300;
    }
}

    // замена свойств RangeSlider
.irs--flat .irs-line{
    height: 8px;
    background-color: #fff;
    opacity: 0.5;
}
.irs--flat .irs-bar--single{
    display: none;
}
.irs--flat .irs-handle{
    width: 22px;
    height: 22px;
    background-color: $aqua;
    border-radius: 50%;
    top: 18px;
}
.irs--flat .irs-handle > i:first-child{
    display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max{
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    top: -5px;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    top: -5px;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
    display: none;
}
@media(max-width: 1125px){
    .cost__inner{
        justify-content: space-between;
        &-variants{
            margin-right: 10px;
        }        
    }
    .variants__package-inner{
        flex-direction: column;
        .package__item{
            margin: 0 auto 10px;
            .package__item-text.light,
            .package__item-text.medium,
            .package__item-text.full{
                display: none;
            }
            &::before{
                display: none;
            }
        }
    }
}
@media(max-width: 780px){
    .cost__inner{
        flex-wrap: wrap;
        &-variants{
            margin: 0 auto 15px;
        }
        &-result{
            margin: 0 auto;
        }

    }
}
    // end cost
    // start portfolio
.portfolio{
    padding: 45px 0 35px;
    &__title{
        color: #363636;
        margin-bottom: 45px;
    }
    &__inner{
        max-width: 1170px;
        margin: 0 auto;
        text-align: center;
        &-btn{
            display: inline-block;
            border: 1px solid $aqua;
            border-radius: 20px;
            padding: 3px 30px;
            margin-bottom: 25px;
            button{
                color: $aqua;
                font-size: 14px;
                line-height: 14px;
                font-weight: 300;
                text-transform: uppercase;
                border: none;
                background-color: #fff;
                padding: 13px 33px;
                outline: none;
                cursor: pointer;
                &.mixitup-control-active{
                    background-color: $aqua;
                    color: #fff;
                    transform: scale(1.1, 1.2);
                    border-radius: 7px;
                }
            }
            button + button{
                border-left: 1px solid $aqua;
            }
        }
        &-items{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
.portfolio__item{
    max-width: 360px;
    width: 100%;
    margin: 15px;
    background-color: $aqua;
    img{
        display: block;
        width: 100%;
        height: 100%;
        transition: all .3s;
        &:hover{
            transform: translate(-10px,-10px);
        }
    }
}
@media(max-width:900px){
    .portfolio__inner-btn{
        margin: 0 15px 25px;
        button{
            display: block;
            margin: 10px auto;
        }
        button + button{
            border-left: none;
        }
    }
}
    // end portfolio
    // start about
.about{
    padding: 45px 0 60px;
    background-color: #f5f9fa;
    text-align: center;
    &__title{
        margin-bottom: 50px;
    }
    &__inner{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.about__item{
    width: 262px;
    margin: 15px;
    padding: 10px 0;
    transition: all .2s linear;
    &-image{
        height: 64px;
        margin: 0 auto 35px;
        text-align: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 125px;
            height: 1px;
            background-color: $aqua;
        }
        img{
            transition: all .3s;
        }
    }
    &-text{
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #3f3f3f;
    }
    &:hover{
        box-shadow: 0px 3px 10px 2px rgba($aqua, .5);
    }
}
    // end about
    // start process
.process{
    padding: 65px 0;
    &__title{
        margin-bottom: 50px;
    }
    &__item{
        display: flex;
        &-image{
            img{
                display: block;
            }
        }
        &-text{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            line-height: 38px;
            font-weight: 300;
            color: #464646;
        }
    }
    &__item:nth-child(odd){
        flex-direction: row-reverse;
    }
}
@media(max-width: 1200px){
    .process__item{
        display: block;
        &-image{
            margin-bottom: 10px;
            img{
                margin: 0 auto;
            }
        }
    }
    .process__item + .process__item{
        margin-top: 30px;
    }
}
@media(max-width: 615px){
    .process{
        padding-bottom: 0;
    }
    .process__item{
        &-image{
            img{
                width: 100%;
                height: 100%;
            }
        }
        &-text{
            font-size: 25px;
            line-height: 30px;
        }
    }
}
    // end process
    // start partners
.partners{
    padding: 45px 0 60px;
    &__title{
        margin-bottom: 60px;
    }
    &__inner{
        display: flex;
        align-items: center;
        overflow: auto;
        &-logo{
            img{
                display: block;
            }
        }
        &-logo + .partners__inner-logo{
            margin-left: 24px;
        }
    }
}
.scrollbar-rail > .scroll-element .scroll-bar{
    background-color: $aqua;
    cursor: pointer;
}
.scrollbar-rail > .scroll-element .scroll-element_size{
    background-color: rgba(#000, 0.1);
}
.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-element_size{
    background-color: rgba(#000, 0.3);
}
    // end partners
    // start team
.team{
    padding: 55px 0 60px;
    &__title{
        margin-bottom: 65px;
    }
    &__inner{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__slogan{
        text-align: center;
        padding: 0 112px;
        position: relative;
        color: #464646;
        &::before,
        &::after{
            content: "";
            position: absolute;
            background-image: url(../images/quotes.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            width: 47px;
            height: 37px;
            top: 0;
            left: 0;
        }
        &::after{
            top: auto;
            left: auto;
            right: 0;
            bottom: 0;
            transform: scale(-1,1);
        }
        &-title{
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 15px;
            font-weight: 300;
        }
        &-text{
            line-height: 26px;
            margin-bottom: 10px;
            font-weight: 300;
        }
        &-author{
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &-position{
            font-weight: 300;
        }
    }
}
.team__item{
    width: 250px;
    padding: 10px;
    margin: 0 65px 45px 65px;
    text-align: center;
    font-weight: 300;
    transition: all .2s linear;
    &-avatar{
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            display: block;
        }
    }
    &-name{
        margin-bottom: 5px;
        font-size: 24px;
        line-height: 27px;
        color: $aqua;
    }
    &-position{
        font-size: 16px;
        color: #464646;
    }
    &:hover {
        box-shadow: 0px 3px 10px 2px rgba($aqua, .5);
    }
}
@media(max-width: 795px){
    .team{
        padding: 0 0 20px;
    }
    .team__slogan{
        padding: 0 50px;
    }
}
@media(max-width: 615px){
    .team__slogan-title{
        font-size: 25px;
        line-height: 28px;
    }
    .team__slogan-text{
        font-size: 14px;
        line-height: 20px;
    }
    .team__slogan-author{
        font-size: 17px;
        line-height: 22px;
    }
    .team__slogan-position{
        font-size: 13px;
        line-height: 20px;
    }
}
    // end team
    // start blog
.blog{
    padding: 45px 0 60px;
    background-color: #f5f9fa;
    &__title{
        margin-bottom: 60px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
}
.blog__item{
    max-width: 555px;
    width: 100%;
    &-image{
        margin-bottom: 30px;
        background-color: $aqua;
        img{
            display: block;
            width: 100%;
            height: 100%;
            transition: all .3s;
        }
        &:hover{
            img{
                transform: translate(-10px,-10px);
            }
        }
    }
    &-text{
        text-align: center;
        a{
            text-decoration: underline;
            font-size: 18px;
            font-weight: 300;
            color: $aqua;
        }
    }
}
@media(max-width: 1175px){
    .blog{
        padding-bottom: 10px;
    }
    .blog__inner{
        display: block;
        .blog__item{
            margin: 0 auto 30px;
            &-image{
                margin-bottom: 15px;
            }
        }
    }
}
@media(max-width: 400px){
    .blog__item-text a{
        font-size: 14px;
    }
}
    // end blog
    // start contacts
.contacts{
    padding: 50px 0 65px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__title{
        color: #fff;
        margin-bottom: 40px;
        &::before{
            background-color: #fff;
        }
    }
    &__text{
        font-size: 26px;
        line-height: 38px;
        font-weight: 300;
        opacity: 0.8;
        margin-bottom: 40px;
        text-align: center;
    }
    &__inner{
        display: flex;
        &-form{
            max-width: 750px;
            width: 100%;
            text-align: center;
            input{
                width: 238px;
                padding: 14px 10px;
                border-radius: 7px;
                background-color: #fff;
                color: 606060;
                border: none;
                outline: none;
                opacity: 0.8;
                &::placeholder{
                    font-size: 13px;
                    font-weight: 300;
                    color: #606060;
                }
                &:focus {
                    opacity: 1;
                }
            }
            input + input{
                margin-left: 14px;
            }
            textarea{
                display: block;
                width: 100%;
                height: 120px;
                border-radius: 7px;
                padding: 14px 10px;
                margin: 15px 0 20px;
                resize: none;
                color: 606060;
                outline: none;
                opacity: 0.8;
                &::placeholder{
                    font-size: 13px;
                    font-weight: 300;
                    color: #606060;
                }
                &:focus {
                    opacity: 1;
                }
            }
            button{
                max-width: 214px;
                width: 100%;
                padding: 21px 27px;
                border-radius: 27px;
                border: none;
                cursor: pointer;
                background-color: $aqua;
                color: #fff;
                font-size: 15px;
                line-height: 20px;
                font-weight: 500;
                opacity: .8;
                transition: all .2s linear;
                &:hover {
                    opacity: 1;
                    box-shadow: 0px 3px 10px 2px rgba($aqua, .5);
                }
            }
        }
        &-social{
            width: 293px;
            margin-left: 30px;
            ul{
                margin-bottom: 10px;
                li{
                    display: block;
                    margin-bottom: 15px;
                    a{
                        padding-left: 40px;
                        font-size: 18px;
                        font-weight: 500;
                        position: relative;
                        &::before{
                            position: absolute;
                            padding: 6px;
                            border: 1px solid transparent;
                            border-radius: 2px;
                            top: -4px;
                            left: 0;
                            transition: all .2s linear;
                        }
                        &:hover {
                            &::before {
                                border: 1px solid #fff;
                            }
                        }
                    }
                }
            }
            span{
                display: block;
                opacity: 0.8;
                font-weight: 300;
            }
        }
    }
}
@media(max-width: 1145px){
    .contacts__inner{
        display: block;
        &-form{
            margin: 0 auto 30px;
        }
        &-social{
            margin: 0 auto;
            padding-left: 45px;
        }
    }
}
@media(max-width: 800px){
    .contacts__text{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .contacts__inner{
        &-form{
            form{
                input{
                    display: block;
                    width: 100%;
                }
                input + input{
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }    
}
@media(max-width: 340px){
    .contacts__inner-social{
        padding-left: 40px;
    }
}
    // end contacts
.map{
    iframe{
        width: 100%;
        height: 600px;
    }
}
@media(max-width: 1150px){
    .map{
        iframe{
            height: 400px;
        }
    }
}
@media(max-width: 800px){
    .map{
        iframe{
            height: 300px;
        }
    }
}
@media(max-width: 475px){
    .map{
        iframe{
            height: 250px;
        }
    }
}
    // start footer
.footer{
    margin-top: -7px;
    padding: 40px 0 50px;
    background-color: #24241f;
    &__inner{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 300;
        &-info{
            max-width: 570px;
            width: 100%;
            display: flex;
            span{
                display: block;
                max-width: 190px;
                width: 100%;
                a{
                    display: block;
                    margin-bottom: 5px;
                }
            }

        }
        &-social{
            max-width: 170px;
            width: 100%;
            span{
                display: block;
                margin-bottom: 5px;
            }
            a{
                &::before{
                    padding: 6px;
                    border: 1px solid transparent;
                    border-radius: 2px;
                    transition: all .2s linear;
                }
                &:hover {
                    &::before {
                        border: 1px solid #fff;
                    }
                }
            }
            a + a{
                margin-left: 5px;
            }
        }
    }
}
@media(max-width: 800px){
    .footer__inner{
        display: block;
        &-info{
            max-width: 100%;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        &-social{
            margin-left: auto;
        }
    }
}
@media(max-width: 615px){
    .footer{
        padding-top: 25px;
    }
    .footer__inner{
        display: block;
        &-info{
            display: block;
            margin-bottom: 8px;
            span{
                display: block;
                a{
                    padding: 5px 0;
                }
            }
        }
        &-social{
            margin-left: 0;
            span{
                margin-bottom: 10px;
            }
            a + a{
                margin-left: 10px;
            }
        }
    } 
}
    // end footer

    // кнопка возврата вверх страницы
.scrollup{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    position: fixed;
    z-index: 11;
    bottom: 30px;
    right: 30px;
    display:none;
    text-indent: -9999px;
    background-color: $aqua;
    background-image: url(../images/icons/arrowsup.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 3px 10px 2px rgba($aqua, .5);

    animation-duration: 2s;
    animation-name: scrollup-dance;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.33, 0.46, 0.43, 0.97);
    animation-iteration-count: infinite;
}

@keyframes scrollup-dance {
    from {
        bottom: 30px;
    }

    50% {
        bottom: 50px;
    }

    to {
        bottom: 30px;
    }
}

@media(max-width: 615px){
    .scrollup{
        right: 15px;
    }
}